// Mixins Here
#flex-container() {
  display: flex;
}

#link() {
  text-decoration: none;
  color: inherit;
}

#button(@background,@fontSize) {
  width: 33%;
  padding: 7px 0;
  text-align: center;
  color: white;
  background-color: @background;
  border-radius: 5px;
  text-decoration: none;
  font-size: @fontSize;
  transition: .3s;

  &:hover {
    background-color: #f4f4f4;
    color: @background;
  }
}
